################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Karusc.Server/bin/Release/net8.0
/Karusc.Server/obj
/Karusc.Server/Properties/PublishProfiles
/Karusc.Server/Properties/ServiceDependencies/KaruscWebAppDev - Zip Deploy
/karusc.client/obj/Release
/.vs/Karusc
/Karusc.Server/bin/Debug/net8.0
/karusc.client/obj/Debug
/Karusc.Server/Properties/launchSettings.json
