################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Karusc.Server/bin/Release/net8.0
/Karusc.Server/obj
/Karusc.Server/Properties/PublishProfiles
/Karusc.Server/Properties/ServiceDependencies/KaruscWebAppDev - Zip Deploy
/karusc.client/obj/Release
/.vs/Karusc
/Karusc.Server/bin/Debug/net8.0
/karusc.client/obj/Debug
/Karusc.Server/Properties/launchSettings.json
/Karusc.Server/bin/Release/publish
/.vs/ProjectEvaluation
/Karusc.Server.Application/obj
/Karusc.Server.Domain/obj
/Karusc.Server.Infrastructure/obj
/Karusc.Server.Domain/bin/Debug/net8.0
/Karusc.Server.Infrastructure/bin/Debug/net8.0
/Karusc.Server.Application/bin/Debug/net8.0
/Karusc.Server.Infrastructure/bin/Release/net8.0
/Karusc.Server.Domain/bin/Release/net8.0
/Karusc.Server.Application/bin/Release/net8.0
/add-ip.ps1
/.vs
/.vscode
/Karusc.Server/.config
/Karusc.Server/Properties/ServiceDependencies/KaruscDev - Zip Deploy
/node_modules
/package-lock.json
/package.json
/karusc.client/karusc.client.esproj
/karusc.client/package-lock.json
/Karusc.Server/appsettings.json
/Karusc.Server/Properties/launchSettings.json
/karusc.client/.env