.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.hoverButton img {
    filter: invert(0);
}

.hoverButton:hover img {
    filter: invert(1);
}

.search-input:focus {
    outline: none !important;
    border: none !important;
    box-shadow: -1px 1px 1px 1px black, 1px -1px 1px 1px black !important;
}

.thin-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 100 !important;
}

.extra-light-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 200 !important;
}

.light-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 300 !important;
}

.regular-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 400 !important;
}

.medium-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 500 !important;
}

.semi-bold-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 600 !important;
}

.bold-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 700 !important;
}

.light-pink {
    background-color: #FFF3F5;
    color: rgba(158, 45, 79, 0.56) !important;
}

.purple {
    background-color: #890074;
    color: white
}
.custom-placeholder::placeholder {
    color: rgba(158, 45, 79, 0.56) !important;
}


