/*FONT STYLES - start*/
.thin-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 100 !important;
}

.extra-light-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 200 !important;
}

.light-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 300 !important;
}

.regular-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 400 !important;
}

.medium-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 500 !important;
}

.semi-bold-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 600 !important;
}

.bold-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 700 !important;
}

.extra-bold-font {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 800 !important;
}
/*FONT STYLES - end*/



/*COLOR STYLES -start*/
.light-pink {
    background-color: #FFF3F5 !important;
    color: rgba(158, 45, 79, 0.56) !important;
}

.purple {
    background-color: #890074;
    color: white
}

.purple-text {
    background-color: #FFF3F5 !important;
    color: #890074;
}
/*COLOR STYLES -end*/



/*CUSTOM STYLES -start*/
.custom-placeholder::placeholder {
    color: rgba(158, 45, 79, 0.56) !important;
}

.hoverButton img {
    filter: invert(0);
}

.hoverButton:hover img {
    filter: invert(1);
}

.search-input:focus {
    outline: none !important;
    border: none !important;
    box-shadow: -1px 1px 1px 1px black, 1px -1px 1px 1px black !important;
}

.pink-placeholder {
    color: rgba(158, 45, 79, 0.56) !important;
    border: none;
    background-color: #FFF3F5 !important;
}

.pink-placeholder:focus {
    outline: none;
}

.pink-placeholder::-webkit-input-placeholder {
    color: rgba(158, 45, 79, 0.56) !important;
}

.purple-placeholder {
    color: #890074 !important;
    border: none;
    background-color: #FFFFFF !important;
    border-radius: 0 !important;
}

.purple-placeholder:focus {
    outline: none;
}

.purple-placeholder::-webkit-input-placeholder {
    color: #890074 !important;
}

div.offcanvas-start {
    max-width: 50% !important;
    background-color: #FFF3F5 !important;
}
/*CUSTOM STYLES -end*/


/* ADMIN STYLES - start*/
button[id^='admin-tab-'], button[id^='admin-tab-']:hover {
    background-color: #FFF3F5;
    color: rgba(158, 45, 79, 0.56);
}
button[id^='admin-tab-'].nav-link.active {
    background-color: #890074;
    color: white;
}
.accordion-button {
    background-color: #890074 !important;
    color: white !important;
}
.accordion-button.collapsed {
    background-color: #FFF3F5 !important;
    color: rgba(158, 45, 79, 0.56) !important;
}
.accordion-button::after {
    filter: invert(100%) grayscale();
}
.accordion-button.collapsed::after {
    filter: invert(0%);
}
.admin-button {
    background-color: #890074 !important;
    color: white !important;
    border-radius: 0 !important;
    border: 0 !important;
}
.form-check-input {
    border-radius: 0 !important;
    --bs-form-check-bg: #FFF3F5 !important;
}
input[type=file]::file-selector-button {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #890074 !important;
    color: white;
}
input[type=file].form-control {
    border-radius: 0 !important;
}
/* ADMIN STYLES - end*/